#welcome_banner.banner
  .container
    .row
      %h1 What do you think?
      %p Thundercats cold-pressed bicycle rights chia tote bag, blue bottle cornhole freegan direct trade everyday carry brunch vegan paleo. Semiotics kombucha seitan, stumptown roof party vice 8-bit. Twee banh mi pug tattooed. PBR&B polaroid 90's meh, humblebrag marfa bushwick gentrify cronut trust fund church-key fashion axe kinfolk yuccie keffiyeh.
.wrapper
  .container
    .row
      .col-md-8.col-md-offset-2
        - @posts.each do |post|
          .post
            =link_to post do
              %h2
                Best
                %span.blank= post.title
                Alive:
                %span.blank= post.choice
              .content-index= markdown truncate(post.content, length: 200)
            %p.date
              = time_ago_in_words(post.created_at)
              ago
              By
              %span.user= post.user.username
              %span.icons_right
                %i.fa.fa-comments-o
                = post.comments.count
