#show_banner.banner
  .container
    .row
      %h1 Here's what I think
.wrapper
  .container
    .row
      .col-sm-10.col-sm-offset-1
        %h2.best_alive
          Best
          %span.blank= @post.title
          Alive:
          %span.choice= @post.choice
        .content= markdown @post.content


        %button.btn.btn-success= link_to "Edit", edit_post_path(@post)
        %button.btn.btn-danger= link_to "Delete", post_path(@post), method: :delete, data: {confirm: "You Sure?"}