#show_banner.banner
  .container
    .row
      %h1 Here's what I think
.wrapper
  .container
    .row
      .col-sm-10.col-sm-offset-1
        %h2.best_alive
          Best
          %span.blank= @post.title
          Alive:
          %span.choice= @post.choice
        %h3.author
          Opinion by
          %span.user= @post.user.username
        .content= markdown @post.content
        #comments
          %h2.comment_count= pluralize(@post.comments.count, "Comment")
          - @comments.each do |comment|
            .comment
              %p.user= comment.user.username
              .comment_content= markdown comment.content
              - if comment.user == current_user
                %button.btn.btn-sm.btn-danger= link_to "Delete", post_comment_path(@post, comment), method: :delete, data: {confirm: "You Sure?"}
              %hr

          = render 'comments/form'


        - if @post.user == current_user
          %button.btn.btn-success= link_to "Edit", edit_post_path(@post)
          %button.btn.btn-danger= link_to "Delete", post_path(@post), method: :delete, data: {confirm: "You Sure?"}