!!!
%html
  %head
    %title Best Blank Alive
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    %nav.navbar.navbar-static-top{role: "navigation"}
      .container-fluid
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar

          .navbar-brand 
            = link_to "Best *__* Alive", root_path

        .collapse.navbar-collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-right
            - if user_signed_in?
              %li= link_to "New Post", new_post_path, class: "button"
              %li= link_to "Account", edit_user_registration_path
              %li= link_to "Sign Out", destroy_user_session_path, method: :delete
            - else
              %li= link_to "Sign in", new_user_session_path
              %li= link_to "Sign Up", new_user_registration_path, class: "button"

    - if alert
      %p.alert= alert
    - elsif notice
      %p.notice= notice
      
    = yield
    %footer.banner
      %h2 Don't be a sheep! That's baaaaaad... Like that joke.